.fondo {
  background-image: linear-gradient(147deg, #991cff 10%, #fbff22 80%);
  min-height: 917px;
}

.messages {
  max-height: 100vh;
  overflow-y: auto;
}

.sent {
  background-color: #dfc4ff;
  margin-left: auto;
  text-align: right;
  max-width: 75%;
}

.received {
  background-color: #fff9c3;
  margin-right: auto;
  text-align: left;
  max-width: 75%;
}
