<div class="fondo-oscuro flex justify-center py-8">
  <div class="container max-w-screen-xl py-4 px-2 md:px-6 lg:px-8 flex flex-col items-center ">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-full">
      <!-- Sección de información personal -->
      <div class="flex flex-col items-center">
        <img
          src="assets/img/perfil.jpg"
          alt="Foto del alumno"
          class="rounded-full w-80 h-80 object-cover shadow-lg border-4 border-white"
        />
        <!-- Aumentar el margen superior de los intereses -->
        <div class="mt-12 text-center"> <!-- Cambiado de mt-6 a mt-12 -->
          <h2 class="text-4xl font-bold text-gray-800">Bosco Mascaro Massimo</h2>
          <p class="text-gray-600 text-xl">22 años</p>
          <p class="mt-4 text-lg">Mis intereses y pasatiempos incluyen:</p>
          <div class="flex flex-col items-center">
            <p class="mt-2 text-lg text-gray-700">Programación y desarrollo de Apps móviles</p>
            <p class="text-lg text-gray-700">Leer libros de ciencia ficción y fantasía</p>
            <p class="text-lg text-gray-700">Practicar deportes como la Natación</p>
          </div>          
        </div>        
      </div>
      <!-- Sección de juegos -->
      <div class="flex flex-col gap-6 w-full card-juego transform transition-transform duration-300 hover:scale-105">
        <h2 class="text-3xl font-bold text-gray-800">Mis juegos</h2>
        <div class="mt-6 w-full">
          <div
            class="w-full"
            *ngFor="let juego of juegos; let i = index"
            [ngClass]="{ 'hidden': i !== juegoActual }"
          >
            <h3 class="text-2xl font-semibold text-gray-700">{{ juego.titulo }}</h3>
            <p class="mt-4 text-gray-600">{{ juego.descripcion }}</p>
            <div class="mt-6 flex justify-center">
              <img
                [src]="juego.imagen"
                alt="Captura de pantalla del juego {{ juego.titulo }}"
                class="imagen-juego shadow-lg"
              />
            </div>
          </div>
        </div>
        <div class="mt-6 flex justify-center">
          <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600" (click)="anteriorJuego()">Anterior</button>
          <button class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 mx-4" (click)="siguienteJuego()">Siguiente</button>
        </div>
      </div>      
    </div>
  </div>
</div>
