<div id="app-container">
  <nav class="bg-black w-full z-20">
    <div class="max-w-screen-xl mx-auto p-4">
      <!-- Botón de menú para móviles, solo visible en pantallas pequeñas -->
      <div class="flex justify-between items-center">
        <button
          *ngIf="!isDesktop"
          class="menu-button md:hidden"
          (click)="toggleMenu()"
          class="text-white bg-black px-4 py-2 rounded-md"
        >
          ☰ Menú
        </button>
      </div>

      <!-- El menú se despliega hacia abajo -->
      <ul
        [ngClass]="{ open: menuOpen, hidden: !menuOpen && !isDesktop }"
        class="flex flex-col items-center md:items-center p-4 mt-4 font-medium bg-black space-y-4 md:space-y-0 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0"
      >
        <!-- Ocultar el botón de Login si el usuario está autenticado -->
        <li *ngIf="!isAuthenticated">
          <a
            routerLink="/login"
            class="block py-2 px-3 rounded hover:bg-violet-800 md:hover:bg-transparent md:hover:text-violet-800 md:p-0 text-white"
          >
            Login
          </a>
        </li>
        <!-- Mostrar Quién Soy y Home solo si el usuario está autenticado -->
        <li *ngIf="isAuthenticated">
          <a
            routerLink="/quien-soy"
            class="block py-2 px-3 rounded hover:bg-violet-800 md:hover:bg-transparent md:hover:text-violet-800 md:p-0 text-white"
          >
            Quién Soy
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <a
            routerLink="/chat"
            class="block py-2 px-3 rounded hover:bg-violet-800 md:hover:bg-transparent md:hover:text-violet-800 md:p-0 text-white"
          >
            Chat
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <a
            routerLink="/home"
            class="block py-2 px-3 rounded hover:bg-violet-800 md:hover:bg-transparent md:hover:text-violet-800 md:p-0 text-white"
          >
            Home
          </a>
        </li>
        <!-- Mostrar botón de logout cuando el usuario esté autenticado -->
        <li *ngIf="isAuthenticated">
          <button
            (click)="logout()"
            class="block py-2 px-3 rounded hover:bg-violet-800 md:hover:bg-transparent md:hover:text-violet-800 md:p-0 text-white"
          >
            Logout
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<!-- <footer
    class="flex w-full flex-col items-center justify-center bg-black border-t border-gray-600"
  >
    <p class="text-white">
      Hecho con 💖 por Bosco Massimo &copy; 2024
    </p>
  </footer> -->

<!--queda mejor sin el footer -->
