.fondo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.content {
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.preguntados-container {
  flex: 3;
  max-width: 600px;
  margin-right: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.puntajes-container {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.question-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

/* Media Queries para pantallas medianas */
@media (max-width: 1024px) {
  .fondo {
    padding: 15px;
  }

  .preguntados-container {
    max-width: 80%;
  }

  button {
    font-size: 14px;
    padding: 8px;
  }

  .question-image {
    max-width: 80%;
  }
}

/* Media Queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .fondo {
    padding: 10px;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  .preguntados-container {
    max-width: 100%;
  }

  h2 {
    font-size: 1.5rem;
  }

  .question-image {
    max-width: 100%;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }
}

/* Media Queries para pantallas muy pequeñas (teléfonos pequeños) */
@media (max-width: 480px) {
  .fondo {
    padding: 8px;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  button {
    font-size: 12px;
    padding: 8px;
  }

  .question-image {
    max-width: 100%;
    height: auto;
  }
}

.puntajes-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.puntajes-container th,
.puntajes-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.puntajes-container th {
  background-color: #f2f2f2;
}
