.fondo {
  min-height: 800px;}.fondo {
  border-bottom-left-radius: 1rem; /* Ajusta el valor según el redondeado que prefieras */
  border-bottom-right-radius: 1rem;
}

.preguntados-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  .question-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }