<div class="fondo max-w-xl mx-auto text-center p-4 bg-white shadow-lg">
  <h2 class="text-2xl font-bold mb-4">Preguntados</h2>
  <p class="text-lg font-semibold mb-2">Puntuación: {{ score }}</p>

  <div *ngIf="loading" class="text-blue-500">Cargando...</div>

  <div *ngIf="!loading && currentQuestionIndex < questions.length">
    <!-- Mostrar la imagen obtenida -->
    <img
      [src]="imageUrl"
      alt="Imagen relacionada"
      class="w-full h-72 object-cover mb-4 rounded-lg shadow-md"
    />

    <!-- Mostrar la pregunta -->
    <p class="text-lg mb-4">{{ question }}</p>

    <!-- Barra de progreso -->
    <div class="relative w-full h-4 bg-gray-300 rounded-full mb-4">
      <div
        class="absolute top-0 left-0 h-full bg-red-600 rounded-full transition-all"
        [style.width]="progress + '%'"
      ></div>
    </div>

    <!-- Opciones de respuesta -->
    <div class="grid grid-cols-1 gap-4">
      <button
        *ngFor="let option of options"
        (click)="checkAnswer(option)"
        [ngClass]="getButtonStyle(option)"
        class="py-2 px-4 font-semibold rounded focus:outline-none"
      >
        {{ option }}
      </button>
    </div>
  </div>

  <div *ngIf="!loading && currentQuestionIndex >= questions.length">
    <!-- Mostrar el puntaje final -->
    <h3 class="text-2xl font-bold mb-4">¡Juego completado!</h3>
    <p class="text-lg mb-4">Tu puntaje final es: {{ score }}</p>
    <button
      (click)="restartGame()"
      class="py-2 px-4 bg-blue-500 text-white font-semibold rounded hover:bg-blue-600 focus:outline-none"
    >
      Reiniciar
    </button>
  </div>
</div>
