.fondo {
  background-image: linear-gradient(147deg, #991cff 10%, #fbff22 80%);
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.hangman {
  position: relative;
  width: 100px;
  height: 220px;
  margin: 0 auto;
}

.base {
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: #000;
  bottom: 0;
}

.pole {
  position: absolute;
  width: 10px;
  height: 200px;
  background-color: #000;
  bottom: 10px;
  left: 50px;
}

.beam {
  position: absolute;
  width: 100px;
  height: 10px;
  background-color: #000;
  top: 0;
  left: 50px;
}

.rope {
  position: absolute;
  width: 2px;
  height: 40px;
  background-color: #000;
  top: 10px;
  left: 140px;
}

.head {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #000;
  top: 50px;
  left: 115px;
}

.body {
  position: absolute;
  width: 6px;
  height: 80px;
  background-color: #000;
  top: 100px;
  left: 137px;
}

.left-arm {
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #000;
  top: 120px;
  left: 90px;
  transform: rotate(-45deg);
}

.right-arm {
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #000;
  top: 120px;
  left: 140px;
  transform: rotate(45deg);
}

.left-leg {
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #000;
  top: 200px;
  left: 110px;
  transform: rotate(-80deg);
}

.right-leg {
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: #000;
  top: 200px;
  left: 120px;
  transform: rotate(80deg);
}

/* Ajustar las letras subrayadas */
.letter-underline {
  border-bottom: 2px solid #000;
  margin: 0 3px;
  display: inline-block;
  width: 25px;
  text-align: center;
}

/* Hacer el teclado responsive */
.keyboard-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  gap: 10px;
}

/* Mejorar botones en dispositivos móviles */
.btn {
  padding: 10px 5px;
  font-size: 14px;
}

/* Mensajes de estado */
.status-message {
  font-size: 18px;
}

.puntajes-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.puntajes-container th, .puntajes-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.puntajes-container th {
  background-color: #f2f2f2;
}


/* Media Queries para dispositivos pequeños */
@media (max-width: 600px) {
  .hangman {
    width: 80px;
    height: 150px;
  }

  .head {
    width: 30px;
    height: 30px;
  }

  .body {
    height: 50px;
  }

  .letter-underline {
    width: 20px;
    font-size: 16px;
  }

  .btn {
    font-size: 12px;
    padding: 8px 4px;
  }

  .status-message {
    font-size: 16px;
  }
}
