/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  background-color: #540aa8;
  background-image: linear-gradient(147deg, #991cff 10%, #fbff22 80%);
  min-height: 100%;
}

#app-container {
  min-height: 100vh;
  flex-direction: column;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  color: white;
  text-align: center;
}

