.fondo {
  background-image: linear-gradient(147deg, #991cff 10%, #fbff22 80%);
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 400px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.contenedor {
  max-width: 1200px;
  margin: auto;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: medium;
  background-color: #6521a5;
  color: white;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
}

.boton:hover {
  background-color: #af37ff;
  transform: scale(1.05);
}

/* Media Queries para hacer el diseño responsive */

/* Pantallas medianas (tabletas y dispositivos similares) */
@media (max-width: 1024px) {
  .card {
    max-width: 500px;
    padding: 20px;
  }

  .boton {
    font-size: 0.9rem;
    padding: 10px 14px;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .fondo {
    padding: 10px;
  }

  .card {
    max-width: 100%;
    padding: 20px;
  }

  /* Deshabilitar la animación de agrandar en móviles */
  .card:hover {
    transform: none;
  }

  .boton {
    font-size: 0.9rem;
    padding: 10px 12px;
  }

  h2 {
    font-size: 1.75rem;
  }

  label {
    font-size: 0.9rem;
  }

  input {
    font-size: 0.9rem;
    padding: 10px 12px;
  }
}

@media (max-width: 480px) {
  .card {
    padding: 15px;
  }

  .boton {
    font-size: 0.8rem;
    padding: 8px 10px;
  }

  h2 {
    font-size: 1.5rem;
  }

  input {
    font-size: 0.8rem;
    padding: 8px 10px;
  }

  /* Deshabilitar la animación de agrandar en pantallas muy pequeñas */
  .card:hover {
    transform: none;
  }
}
